<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>Hello</div>
<div><a href="/login"> login </a></div>
<div><a href="/register/user"> register/user </a></div>
</body>
</html>