<html>

<body>
    <div>
        <form action="/logout" method="post">
            <label> <input type="hidden" name="_csrf" value="{{_csrf.token}}"/> </label>
            <input type="submit" value="Sign Out">
        </form>
    </div>
    <div>
        <form method="post" action="post/register/user">
            <label> <input type="hidden" name="_csrf" value="{{_csrf.token}}"/> </label>
            <input type="text" name="name" placeholder="Введите имя" />
            <input type="text" name="sName" placeholder="Введите фамилию" />
            <input type="text" name="fName" placeholder="Введите отчество" />
            <input type="text" name="phone" placeholder="Введите номер телефона" />
            <input type="text" name="skype" placeholder="Введите skype" />
            <input type="text" name="socialNet" placeholder="Введите другие социальные сети" />
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>
        <form method="post" action="/filter/by-name">
            <label>  <input type="hidden" name="_csrf" value="{{_csrf.token}}"/> </label>
            <input type="text" name="name" placeholder="enter Name">
            <button type="submit">find</button>
        </form>
    </div>
    <div>Список сообщений</div>
    {{#userList}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
        <i>{{sName}}</i>
        <i>{{fName}}</i>
    </div>
    {{/userList}}
</body>

</html>