.headerstyle {
    display: block;
    background: #00b0d8;
    /* Градиент */
}
.header-bg {
    background: #04b7d8;
    /* Животные */
    height: 80px; /* Высота шапки */
    text-align: center; /* Выравнивание по центру */
}
.headerhrefblock{
    background: aquamarine;
    margin-top: 10px;
    margin-right: 20px;
    width: 120px;
    height: 60px;
    display: inline-block;
    border: 1px solid black;
}